<div class="container">
    <div class="row">
        <section class="col-md-3">
            
            <h5 class="text-warning ml-3">Sort</h5>
            <select class="form-select form-select-lg mb-3"
                #teams (change)="onSortSelected(teams.value)"
              >
                <option *ngFor="let option of  sortOptions"
                  [value]="option.value"
                  >
                  {{option.name}}
                </option>
            </select>

            <h5 class="text-warning ml-3">Brands</h5>
            
            <ul class="list-group mt-4">
                <li class="list-group-item" *ngFor="let brand of brands"
                    style="cursor: pointer;"
                    [class.active]="brand.id === this.shopParams.brandId"
                    [value]="brand.id"
                    (click)="onBrandSelected(brand.id)"
                    >

                    {{brand.name}}
                </li>
            </ul>

            <h5 class="text-warning ml-2">Types</h5>
            
            <ul class="list-group mt-4">
                <li class="list-group-item" *ngFor="let type of types"

                style="cursor: pointer;"
                [class.active]="type.id === this.shopParams.typeId"
                [value]="type.id"
                (click)="onTypeSelected(type.id)"
                  >
                  {{type.name}}
                </li>

            </ul>

        </section>
        <section class="col-9">
           
            <div class="searching-from">
                
               <app-paging-header 
                 [totallCount]="this.totallCount"
                 [pageNumber]="this.shopParams.pageNumber"
                 [pageSize]="this.shopParams.pageSize"
               >
    
               </app-paging-header>  

                <form [formGroup]="searchFrom" (ngSubmit)="searchKey()" class="row g-2">
                    <div class="col-md-6">
                        <label for="inputPassword2" class="visually-hidden">Password</label>
                        <input type="text" class="form-control" placeholder="Search.."
                          formControlName="searchKey"
                        >
                      </div>
                      <div class="col-md-6">

                        <button type="submit" class="btn btn-outline-primary mb-3 me-1">Search</button>
                        <button type="reset" (click)="resetAll()" class="btn btn-outline-success mb-3">Reset</button>
                      </div>
                </form>
            </div>

            <div class="row">
              <div class="col-md-4 mb-3" *ngFor="let item of products">
                <app-product-item [product]="item"></app-product-item>
              </div>
            </div>

            <app-pager
            [totallCount]="this.totallCount"
            [pageNumber]="this.shopParams.pageNumber"
            [pageSize]="this.shopParams.pageSize"
            (onChanged)="onPageChanged($event)"
            >

            </app-pager>
            
        </section>
    </div>
</div>