



<div class="container nav-bar pb-3 mb-4 border-bottom fixed-top" style="background-color: white;">
    
    <div class="logo">
        <img src="../../assets/images/logo.png" style="max-height:70px" alt="logo"> 
    </div>
  

    <nav class="nav-item">
        <a class="me-3 py-2 text-dark" href="#">Home</a>
        <a class="me-3 py-2 text-dark" href="#">Shop</a>
        <a class="me-3 py-2 text-dark" href="#">Contact</a>
        
    </nav>

    <div  class="d-flex align-items-center" style="position: relative;">
        <a class="shopping-card me-4">
            <i class="fa-solid fa-cart-shopping fa-2x text-dark"></i>
            <div class="card-no">5</div>
        </a>

        <a class="btn btn-outline-secondary me-2">Login</a>
        <a class="btn btn-outline-secondary me-2">Sign up</a>
    </div>
    
</div>
